/* Define a margem superior para a seção inicial */
.contentStart {
    margin-top: 50px;
}

/* Alinha o título da seção inicial ao centro e define uma margem superior */
.contentStartTitle {
    text-align: center;
    margin-top: 6%;
}

/* Estilo da seção ocultável com margem, cor, borda e animação */
.contentHidden {
    margin-top: 50px;
    background-color: #616161;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.7);
    transition: height 0.5s ease, background-color 0.5s ease;
}

/* Margem para o título dentro da seção ocultável */
.contentHiddenTitle {
    margin-left: 10px;
}

/* Define o texto como transparente inicialmente */
.contentHiddenText {
    margin-left: 10px;
    color: transparent;
}

/* Animação para aumentar a altura e mudar a cor da seção ao passar o mouse */
.contentHidden:hover {
    height: 150px; 
    background-color: #515151; 
}

/* Altera a cor do texto oculto ao passar o mouse */
.contentHidden:hover .contentHiddenText {
    color: #fff; 
    transition: color 0.5s ease; 
}

/* Define estilo de texto e alinhamento centralizado */
.contentMaster {
    margin-top: 50px;
    text-align: center;
}

/* Estilo para imagens dentro da seção principal, com bordas arredondadas e sombra */
.contentMasterImg img {
    margin-top: 30px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}

/* Define alinhamento à esquerda para textos dentro da seção principal */
.contentMasterText {
    margin-top: 30px;
    text-align: left;
}

/* Margem superior para a seção central */
.contentCenter {
    margin-top: 100px;
}

/* Estilo para textos da seção central com sombra e bordas arredondadas */
.contentCenterText {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 45%;
    height: 100%;
    margin-left: 34px;
}

/* Oculta os retângulos no carrossel */
.contentCarousel rect {
    display: none;
}

/* Centraliza e adiciona margem ao título dentro do carrossel */
.carousel h1 {
    text-align: center;
    margin-top: 130px;
}

/* Define dimensões e fundo do carrossel */
.contentCarousel {
    width: 100%;
    height: 400px;
    background: transparent !important;
}

/* Margem negativa para o texto dentro do carrossel */
.contentCarouselLine {
    color: black;
    margin-left: -180px;
}

/* Define margens e cor para textos no carrossel */
.contentCarouselText {
    margin-bottom: 100px;
    color: black;
    margin-left: 120px;
    margin-right: 120px;
}

/* Estilo para ícones coloridos dentro do carrossel */
.colorIconCorousel {
    background-color: #515151;
    border-radius: 10px;
}

/* Estilo para datas dentro do carrossel */
.contentCarouselDate {
    background-color: #515151;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-left: 260px;
    margin-right: 260px;
}

/* Alinha conteúdo final ao centro e permite flex-wrap */
.contentEnd {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

/* Estilo para imagens na seção final com animação de altura e cor */
.contentEndImg {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 200px;
    background-color: #515151;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    transition: height 0.5s ease, background-color 0.5s ease;
    display: block;
    color: transparent;
}

/* Animação para imagens da seção final ao passar o mouse */
.contentEndImg:hover {
    height: 380px; 
    background-color: #515151; 
    color: #fff;
}

/* Estilo para imagens dentro das seções finais */
.contentEndImg img {
    border-radius: 12px;
    margin-top: 20px;
    height: 100px;
    width: 100%;
}

/* Responsividade para telas menores que 767px */
@media (max-width: 767px) {
    .contentStart {
        text-align: justify;
    }

    /* Altera estilo da seção ocultável para dispositivos menores */
    .contentHidden {
        margin-top: 50px;
        background-color: #616161;
        border-radius: 10px;
        height: 70px;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.7);
        transition: height 0.5s ease, background-color 0.5s ease;
    }
    
    /* Aumenta altura ao passar o mouse em dispositivos menores */
    .contentHidden:hover {
        height: 290px; 
        background-color: #515151; 
    }

    .contentMasterText {
        text-align: justify;
    }

    /* Ajusta largura e margens da seção central em dispositivos menores */
    .contentCenterText {
        width: 100%;
        height: 100%;
        margin-top: 15px;
        margin-left: 0px;
    }

    .contentCarousel {
        width: 100%;
        height: 500px;
        background: transparent !important;
    }
    
    .contentCarouselLine {
        color: black;
        margin-left: -180px;
    }
    
    .contentCarouselText {
        text-align: center;
        color: black;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .contentCarouselDate {
        background-color: #515151;
        border-radius: 25px;
        margin-bottom: 20px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .contentEnd {
        margin-left: 25%;
    }
}

/* Responsividade para telas entre 768px e 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .contentStartTitle {
        margin-top: 100px;
    }

    .contentHidden {
        margin-top: 50px;
        background-color: #616161;
        border-radius: 10px;
        height: 70px;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.7);
        transition: height 0.5s ease, background-color 0.5s ease;
    }
    
    .contentHidden:hover {
        height: 240px; 
        background-color: #515151; 
    }

    .contentCarousel {
        width: 100%;
        height: 500px;
        background: transparent !important;
    }
    
    .contentCarouselLine {
        color: black;
        margin-left: -180px;
    }
    
    .contentCarouselText {
        text-align: center;
        color: black;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .contentCarouselDate {
        background-color: #515151;
        border-radius: 25px;
        margin-bottom: 20px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .contentEnd {
        margin-left: 0;
    }
}
