
.contact-container {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

/* Header com logo e informações de contato */
.header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 520px;
    height: auto;
    border-radius: 8px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    font-size: xx-large;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-item i {
    font-size: 20px;
    color: #007BFF;
}

/* Responsividade */
@media (max-width: 1020px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        width: 380px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        font-size: large;
    }
}