/* Definição do layout do body para garantir que a altura mínima seja 100% da altura da tela */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Estilo para o elemento com a classe 'activee', aplicando fundo escuro, borda arredondada e cor de texto clara */
.activee {
    background-color: #393939;
    border-radius: 7px;
    color: #f8f8ec !important;
    padding: 5px;
}

/* Estilos para a barra de navegação, com animação de transição no tamanho e no movimento ao passar o mouse */
nav {
    background-color: #616161;
    border-radius: 0px 0px 20px 20px;
    height: 70px;
    /* Altura inicial */
    transition: height 0.5s ease, transform 0.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Definição do tamanho da imagem dentro da navegação */
nav img {
    width: 70px;
    margin-right: 20px;
    height: auto;
}

/* Efeito de expansão e transformação no hover da barra de navegação */
nav:hover {
    height: 100px;
    transform: translateZ(-30px);
}

/* Estilo para o bloco .string com cor de fundo escura, texto claro, bordas arredondadas e efeito de transição */
.string {
    margin-top: 90px;
    text-align: center;
    background-color: #262626;
    color: #f8f8ec;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    transition: transform 0.5s ease, background-color 0.3s ease;
}

/* Efeito de escalonamento no hover do elemento .string */
.string:hover {
    transform: scale(1.05);
}

/* Estilos para o rodapé com animação semelhante à navegação, incluindo o efeito de hover */
footer {
    background-color: #616161;
    border-radius: 20px 20px 0px 0px;
    height: 70px;
    transition: height 0.5s ease, transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
}

/* Efeito de expansão no hover do rodapé */
footer:hover {
    height: 100px;
    transform: translateY(-30px);
}

/* Estilo para a imagem dentro do rodapé */
footer img {
    width: 70px;
    height: auto;
    margin-top: 5px;
}

/* Estilos para o texto no rodapé */
.footerText {
    margin-top: 5px;
    text-align: center;
}

/* Alinhamento flexível para os ícones dentro do rodapé */
.icons {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    gap: 20px;
}

/* Media query para telas pequenas (<= 767px), ajustando o layout e os tamanhos */
@media (max-width: 767px) {
    nav {
        height: 60px;
        flex-direction: column;
        justify-content: center;
        padding: 10px 15px;
    }

    nav img {
        height: 30px;
        width: 100px;
        margin-bottom: 10px;
    }

    .navbar-nav {
        text-align: center;
        width: 100%;
        background-color: #616161;
        border-radius: 10px 10px;
    }

    .navbar-toggler {
        margin-right: 10px;
    }

    .icons {
        gap: 15px;
    }

    footer {
        flex-direction: column;
        padding: 15px;
    }

    .footerText {
        font-size: x-small;
    }

    .string {
        font-size: x-small;
    }

}

/* Media query para telas médias (768px <= largura <= 991px), ajustando tamanhos de fonte e layout */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav {
        font-size: 16px;
        text-align: center;
        width: 100%;
        background-color: #616161;
        border-radius: 10px 10px;
    }

    .icons {
        gap: 20px;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
    }

    .footerText {
        font-size: 16px;
    }
}

/* Estilo para a tela de carregamento, com um fundo escuro e uma animação de spinner */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    color: #f8f8ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

/* Estilo do spinner, com uma animação de rotação */
.spinner {
    border: 5px solid #616161;
    border-top: 5px solid #f8f8ec;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Animação de rotação do spinner */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Classe para esconder elementos com transição suave de opacidade */
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}