
.product{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50%;
    display: flex;
}

.product-title {
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.product-image {
    width: 70%;
    height: auto;
    max-width: 500px;
    margin: 20px 0;
    border-radius: 10px;
    border: #616161 solid;
}

.product-description {
    font-size: 1.2em;
    color: #555;
}

.product-price {
    font-size: 1.5em;
    font-weight: bold;
    color: #007BFF;
    margin: 10px 0;
}

.back-button {
    margin-top: 20px;
    display: block;
}

.back-button:hover {
    text-decoration: underline;
}

/* layout 2*/
.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 20px;
}

.product-details{
    text-align: left;
}

.product-details h4{
 margin-left: 40px;
 margin-bottom: 20px;
}

.detail{
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: white;
}
