.contentStart{
    margin-top: 50px;
}

.contentStartTitle{
    text-align: center;
    margin-top: 6%;
}

.contentHidden{
    margin-top: 50px;
    background-color: #616161;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.7);
    transition: height 0.5s ease, background-color 0.5s ease;
}

.contentHiddenTitle{
    margin-left: 10px;
}

.contentHiddenText{
    margin-left: 10px;
    color: transparent;
}

.contentHidden:hover {
    height: 150px; 
    background-color: #515151; 
}

.contentHidden:hover .contentHiddenText {
    color: #fff; 
    transition: color 0.5s ease; 
}

.contentMaster{
    margin-top: 50px;
    text-align: center;
}

.contentMasterImg img{
    margin-top: 30px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}

.contentMasterText{
    margin-top: 30px;
    text-align: left;
}

.contentCenter{
    margin-top: 100px;
}

.contentCenterText{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 45%;
    height: 100%;
    margin-left: 34px;
}

.contentCarousel rect {
    display: none;
}

.carousel h1{
    text-align: center;
    margin-top: 130px;
}

.contentCarousel {
    width: 100%;
    height: 400px;
    background: transparent !important;
}

.contentCarouselLine{
    color: black;
    margin-left: -180px;
}

.contentCarouselText{
    margin-bottom: 100px;
    color: black;
    margin-left: 120px;
    margin-right: 120px;
}

.colorIconCorousel{
    background-color: #515151;
    border-radius: 10px;
}

.contentCarouselDate{
    background-color: #515151;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-left: 260px;
    margin-right: 260px;
}

.contentEnd{
    display: flex; /* Habilita o Flexbox */
    justify-content: center; /* Alinha horizontalmente ao centro */
    flex-wrap: wrap; /* Permite quebra para próximas linhas, se necessário */
}

.contentEndImg{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 200px;
    background-color: #515151;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    transition: height 0.5s ease, background-color 0.5s ease;
    display: block;
    color: transparent;
}

.contentEndImg:hover{
    height: 380px; 
    background-color: #515151; 
    color: #fff;
}

.contentEndImg img{
    border-radius: 12px;
    margin-top: 20px;
    height: 100px;
    width: 100%;
}



@media (max-width: 767px) {
    .contentStart{
        text-align: justify;
    }

    .contentHidden{
        margin-top: 50px;
        background-color: #616161;
        border-radius: 10px;
        height: 70px;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.7);
        transition: height 0.5s ease, background-color 0.5s ease;
    }
    
    .contentHidden:hover {
        height: 290px; /* Aumenta a altura da div */
        background-color: #515151; /* Altere a cor do fundo, se desejar */
    }

    .contentMasterText{
        text-align: justify;
    }

    .contentCenterText{
        width: 100%;
        height: 100%;
        margin-top: 15px;
        margin-left: 0px;
    }

    .contentCarousel {
        width: 100%;
        height: 500px;
        background: transparent !important;
    }
    
    .contentCarouselLine{
        color: black;
        margin-left: -180px;
    }
    
    .contentCarouselText{
        text-align: center;
        color: black;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .contentCarouselDate{
        background-color: #515151;
        border-radius: 25px;
        margin-bottom: 20px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .contentEnd{
        margin-left: 25%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .contentStartTitle{
        margin-top: 100px;
    }

    .contentHidden{
        margin-top: 50px;
        background-color: #616161;
        border-radius: 10px;
        height: 70px;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.7);
        transition: height 0.5s ease, background-color 0.5s ease;
    }
    
    .contentHidden:hover {
        height: 240px; /* Aumenta a altura da div */
        background-color: #515151; /* Altere a cor do fundo, se desejar */
    }

    .contentCarousel {
        width: 100%;
        height: 500px;
        background: transparent !important;
    }
    
    .contentCarouselLine{
        color: black;
        margin-left: -180px;
    }
    
    .contentCarouselText{
        text-align: center;
        color: black;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .contentCarouselDate{
        background-color: #515151;
        border-radius: 25px;
        margin-bottom: 20px;
        margin-left: 70px;
        margin-right: 70px;
    }
    .contentEnd{
        margin-left: 0;
    }

}